* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: auto;
    background: hsl(218, 28%, 13%);
    font-size: 14px;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1rem;
}

header img {
    width: 20%;
    height: 20%;
}

header nav a {
    color: grey;
    text-decoration: none;
    margin-right: 0.2rem;
    padding-left: 0.8rem;
}


/*END header*/

.introContainer {
    /*position: relative;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.descriptionIntro {
    text-align: center;
    width: 75%;
}

.descriptionIntro h1 {
    font-size: 1.2rem;
}

.introContainer figure img {
    display: block;
    margin: auto;
    padding-bottom: 1rem;
    width: 50%;
    height: 50%;
}

.introDescription {
    padding-top: 2rem;
    text-align: center;
    color: grey;
}

.introBtn {
    margin: 2rem 0rem 5rem 0rem;
    padding: 1rem 5rem 1rem 5rem;
    border-radius: 25px;
    background-image: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    color: white;
}


/* END */

.skills {
    display: flex;
    flex-direction: column;
    background: #181F2B;
    justify-content: center;
}

.skills img {
    display: block;
    margin: auto;
    padding-bottom: 1rem;
    width: 15%;
    height: 15%;
}

.column {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
    margin: auto;
}

.column h2 {
    padding-bottom: 1rem;
}


/* END */

.productivity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.productiveText {
    padding: 2.5rem;
}

.productiveText h2 {
    padding-bottom: 1rem;
}

.productiveText p {
    padding-bottom: 1rem;
}

.productivity figure img {
    display: block;
    margin: auto;
    width: 80%;
    height: 80%;
    padding-bottom: 1rem;
    padding-top: 5rem;
}

.productivity p a {
    color: hsl(198, 60%, 50%);
    text-decoration: underline;
}


/* END */

.testimonials {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;
    padding: 2rem;
}

.testimonialsContent {
    background: hsl(219, 30%, 18%);
    border-radius: 5px;
    box-shadow: 2px 2px 20px 2px hsl(216, 53%, 9%);
    padding: 1.5rem;
    margin-bottom: 2rem;
}

.descriptionTestimonials {
    display: flex;
    padding-top: 2rem;
}

.descriptionTestimonials figure {
    width: 20%;
}

.testimonialsContent img {
    border-radius: 50px;
    width: 75%;
}


/*Footer*/


/* size img */


/*


.footerItems nav {
    padding-top: 3rem;
}

*/

footer {
    background: hsl(216, 53%, 9%);
    padding: 3rem 2rem;
}

.footerItems {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
}

.location-items,
.contact-items {
    display: flex;
    align-items: flex-start;
    padding: 1rem 0rem 1rem 0rem;
}

.locationItems {
    margin-right: 0.5rem;
}

.items {
    margin-right: 0.5rem;
    width: 8%;
    height: 8%;
}

.footerItems a {
    color: white;
    text-decoration: none;
}

.contact,
.details {
    padding-bottom: 2.5rem;
}

.details li,
.moreDetails li {
    line-height: 2rem;
}

.firstDetails,
.secondDetails {
    list-style: none;
}

.marketLogo {
    text-align: center;
}

.marketLogo a {
    margin: 0.2rem;
    padding: 0.3rem;
}


/* END END */

@media screen and (min-width: 1440px) {
    header {
        width: auto;
        padding: 5rem 3rem;
    }
    header img {
        width: 10%;
        height: 10%;
    }
    /*intro*/
    .introContainer figure img {
        width: auto;
        height: auto;
    }
    .descriptionIntro {
        width: 32%;
    }
    /* Skills */
    .skills {
        width: 60%;
        flex-wrap: wrap;
        flex-direction: row;
        margin: auto;
    }
    .column {
        flex-basis: calc(50% - 40px);
    }
    /* Productivity */
    .productivity {
        flex-direction: row;
        /*margin: auto;*/
    }
    .productiveText {
        width: 35%;
    }
    .productivity figure img {
        width: auto;
        height: auto;
        padding-right: 2rem;
    }
    /* testimonials */
    .testimonials {
        flex-direction: row;
        margin: auto;
        padding: 10rem;
    }
    .testimonialsContent {
        margin-left: 3.5rem;
    }
    /* Footer */
    .footerItems {
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        margin: auto;
    }
    .logoFooter {
        padding-left: 4rem;
    }
}