* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: auto;
    background: hsl(218, 28%, 13%);
    color: white;
    font-family: 'Open Sans', sans-serif;
}


/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    padding: 50px 20px;
}

a {
    color: grey;
    text-decoration: none;
    margin-right: 50px;
}

.standAlone {
    margin-left: 2.5rem;
}


/* Header DONE !!!*/


/* Intro */

.introContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.introContainer figure img {
    padding-bottom: 5rem;
}

.descriptionIntro {
    text-align: center;
}

.descriptionIntro h1 {
    font-size: 3rem;
}

.introDescription {
    padding-top: 2rem;
    font-size: 1.5rem;
    text-align: center;
}

.introBtn {
    margin-top: 2rem;
    padding: 1rem 5rem 1rem 5rem;
    border-radius: 25px;
}


/* Intro DONE */


/*Skills */


/* Skills DONE ! */

.skills {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background: #181F2B;
    justify-content: center;
    margin-top: 2.5rem;
}

.skills>div {
    display: flex;
    flex-basis: calc(50% - 40px);
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 1.5rem;
}

.column h2 {
    padding-bottom: 1rem;
}

.skills svg {
    display: block;
    margin: auto;
    margin-bottom: 1.5rem;
}


/*skills DONE */


/* Productivity */

.productivity {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 5rem;
    margin-top: 5rem;
}

.productiveText {
    justify-content: flex-start;
    margin-left: 3rem;
}

.productiveText h2 {
    padding-bottom: 1rem;
}

.productiveText p {
    padding-bottom: 1rem;
}

.productivity p a {
    color: hsl(198, 60%, 50%);
    text-decoration: underline;
}


/* Productivity done */


/* Testimonial */

.testimonials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10rem;
}

.testimonialsContent {
    background: hsl(219, 30%, 18%);
    margin-left: 3.5rem;
    margin-right: 3.5rem;
    border-radius: 5px;
    box-shadow: 2px 2px 20px 2px hsl(216, 53%, 9%);
    padding: 2rem;
}

.descriptionTestimonials {
    display: flex;
    padding-top: 2rem;
}

.descriptionTestimonials figure {
    width: 15%;
}

.testimonialsContent img {
    border-radius: 50px;
    width: 50%;
    margin-left: 1rem;
}


/*testimonials done ! */


/*.svgContainer {
    position: relative;
    background: hsl(217, 28%, 15%);
    overflow: hidden;
}

.waves {
    display: block;
}*/


/*Footer*/

footer {
    background: hsl(216, 53%, 9%);
}

.footerItems {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 5rem;
}

.logoContacts {
    padding-top: 10rem;
}

.footerItems li {
    list-style: none;
    line-height: 2rem;
}